.navbar {
  background-color: #29B37E !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white !important;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: url('/assets/lights.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Sign-up-button {
  background-color: #29B37E;
  border-color: #29B37E;
  color: white;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  background-color: #29B37E;
}

.card-header {
  background-color: #29b37e93 !important;
}

.card-footer {
  background-color: #29b37e2f !important;
}


.btn-outline-primary{
  border-color: #29B37E;
  color: #29B37E;
}
.btn-outline-primary:hover {
    background-color: #29b37e;
    border-color: #29B37E;
}

.btn-outline-secondary{
  border-color: white;
  color: white;
}
.btn-outline-secondary:hover {
    background-color: #29b37e;
    border-color: #29B37E;
}

.form-background {
  background-color: #3dd299;
}

.link {
  color: #29B37E;
}
.link:hover {
  color: #3dd299;
  text-decoration: solid;
}

.apple_pagination {
  background: #29b37e2f;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #29b37e2f;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }