<div id="page-content"></div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 text-white bg-dark">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Aleksandra Wróblewska", "https://github.com/alewro", class: "text-white" %></small>
  </div>
</footer>